/* xelcon CND */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
body {
  margin: 0;
  background: #222;
  font-family: 'Merriweather', serif;
  color: #222;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.808);
}
.container {
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 252, 246);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
}
.open-navi,
.close-navi {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
  width: 30px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;  
  line-height: 50px;
  z-index: 5;
  cursor: pointer;
}
.open-navi {
  left: 0;
}
.close-navi {
  right: -30px;
}
.open-navi.active {
  left: -30px;
}
.close-navi.active {
  right: 0;
}
.gnb {
  position: fixed;
  top: 10px;
  left: 80px;
  /* transform: translateX(-50%); */
  z-index: 100;
}
.gnb h1 {
  color: #222;
  font-size: 50px;
  display: inline-block;
  font-weight: 400;
  margin-right: 40px;
}
.gnb a {
  margin-right: 30px;
  font-weight: 400;
}
.gnb a:hover {
  text-decoration: underline;
}
.sns {
  position: fixed;
  top: 45px;
  right: 60px;
  font-size: 1.2em;
  text-align: center;
  z-index: 100;
}
.sns a {
  color: #fff;
  background-color: #222;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 5px;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.front span,
.back span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.front {
  background-color: rgb(235, 222, 196);
  z-index: 1;
}
.back {
  background-color: rgb(235, 222, 196);
}
.content {
  width: calc(100% - 120px);
  border-top: 4px solid #333;
  border-bottom: 2px solid #333;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
hr {
  border-top: 2px solid#333;
}
.content .main-photo img {
  margin-top: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  float: left;
  width: 50%;
  position: relative;
}
/* .content .main-photo img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
} */
.item {
  width: 1280px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 226, 226);  
}
.item h1 {
  font-size: 2.5em;
}
.item a {
  color: #222;
  background-color: #fff;
  border-radius: 30px;
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  margin-top: 30px;
}
.item a:hover {
  text-decoration: underline;
}
/* back */
.back {}
.back .content {}
.back .content .news {
  width: 1280px;
  overflow: hidden;
  margin: auto;
}
.back .news > div {
  float: left;
  box-sizing: border-box;
}
.back .content .left {
  width: 40%;
}
.back .content .left img {
  height: 600px;
  padding: 20px 0;
}
/* right */
.content .right {
  width: 60%;
}
.content .right .text {
  text-align: left;
  padding: 30px;
  margin-bottom: 20px;
  line-height: 2em;
}
.right .card {
  border-top: 1px dashed #000;
  padding-top: 50px;
}
.right .card div {
  float: left;
  text-align: right;
}
.right .card div:nth-child(1) {
  width: 60%;
  box-sizing: border-box;
  line-height: 2em;
}
.right .card .sub-photo {
  width: 250px;
  height: 200px;
  display: inline-block;
  float: right;
  background: url(photo-3.jpg) no-repeat center;
  background-size: cover;
}