/* google web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
/* xelcon CND */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	font-weight: 500;
	color:#222;
	margin: 0;
	background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
	height: 100vh;
}
a {
	color: #222;
	text-decoration: none;
}
.comtainer {
	width: 1440px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px rgb(0, 0, 0.3);
}
.comtainer > div {
	float: left;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}
.left {
	width: 405px;
	background-color: #27204f;
}
.right {
	width: 1035px;
}
/* left area */
.logo {
	position: absolute;
	top: 32px;
	left: 55px;
}
.sns {
	position: absolute;
	bottom: 0;
	padding: 55px;
	z-index: 2;
}
.sns a {
	color: #fff;
	margin-right: 20px; 
	font-size: 20px;
}
/* focus area */
.focus {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -400;
	z-index: 1;
}
/* right area: header */
header {
	background-color: #fff;
	border-bottom: 4px solid #eee;
	overflow: hidden;
}
header div {
	height: 65px;
	font-size: 12px;
}
header div a {
	line-height: 70px;
}
.gnb {
	float: left;
	padding-left: 45px;
}
.gnb a {
	text-transform: uppercase;
	margin-right: 45px;
}
.gnb a:hover {
	color: crimson;
}
.inb {
	float: right;
}
.inb a {
	font-size: 30px;
	margin-right: 30px;
}
.inb a:nth-child(3) {
	background-color: #27204f;
	color: #fff;
	padding: 20px;
	margin-right: 0;
}
/* right area: section */
section {
	position: relative;
	background-color: #fff;
	height: calc(100% - 67px);
	/* background-image: url('images/background-logo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom; */
}
.ocerlay-text {
	font-family: 'Goblin One', cursive;
	position: absolute;
	font-size: 13em;
	opacity: 0.05;
	bottom: -130px;
	right: 0;
}
.content {
	width: 500px;
	height: 400px;
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	right: 150px;
}
.content > div {
}
.heading {}
.heading span {
	font-size: 12px;
}
.heading h1 {
	font-size: 80px;
	margin: 30px 0;
	font-weight: 900;
	margin-left: -5px;
}
.heading p {
	font-size: 20px;
	line-height: 30px;
	color: #797979;
	/* border: 1px solid; */
	margin: 50px 0;
}
.btn-shop {
	background-color: #222;
	border: 1px solid #222;
	color: #fff;
	font-size: 14px;
	padding: 12px 70px;
	border-radius: 30px;
	display: inline-block;
}
.btn-shop:hover {
	background-color: #fff;
	color: #222;
	border: 1px solid #222;
}
.slide {
	margin-top: 50px;
	margin-right: 25px;
}
.slide div {
	float: left;
}
.thum {}
.thum a {
	margin-right: 20px;
}
.thum a:nth-child(4) {
	margin-right: 50px;
}

.prev-next {
	display: inline-block;
	font-size: 30px;
	margin: 5px;
}
.prev-next a {
	margin-right: 45px;
}