/* google web font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Defailt CSS */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  text-decoration: none;
  font-size: 8em;
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  position: relative;
  transition: 0.35s;
}
.btn:before,
.btn:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.35s;
  opacity: 0;
  -webkit-text-stroke: transparent;
}
.btn:before {
  color:turquoise;
}
.btn:after {
  color: violet;
}
a.btn {}
.btn:hover {
  color: #fff;
}
.btn:hover:before {
  opacity: 1;
  transform: translate(5px, -5px);
}
.btn:hover:after {
  opacity: 1;
  transform: translate(12px, -12px);
}