/* google web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6em;
	font-weight: 300px;
	margin: 0;
	background-color: #fff;
}

a {
	color: #222;
	text-decoration: none;
}

/* section */
section {
	background-color: #f8f8f8;
	height: 100vh;
}
.section-inner {
	/* border: 1px solid; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1100px;
	margin: auto;
	text-align: center;
}
.section-inner h1 {
	padding-top: 30px;
}
.content {}
.item {
	/* border: 1px solid red; */
	width: 30%;
	display: inline-block;
	margin: 10px; 
	background-color: #fff;
	transition: 0.5s;
}
.item:hover {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
}
.up {
	/* border: 1px solid; */
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}
.item:nth-child(1) .up {
background-image: url('image/ps-01.jpg');
}
.item:nth-child(2) .up {
background-image: url('image/ps-02.jpg');
}
.item:nth-child(3) .up {
background-image: url('image/ps-03.jpg');
}
.down {
	text-align: left;
	margin: 10px;
}
.down h2 {
	margin-top: 0;
}
.down a {
	text-align: center;
	display: block;
	border-radius: 10px;
	padding: 5px;
	background-color: gold;
	/* padding: 0 10px;
	float: right;
	margin-bottom: 10px; */
	transition: 0.5s;
}
.down a:hover {
	background-color: crimson;
	color: #fff;
}